<html>
    <head>
        <meta charset="UTF-8">
        <title> View Post </title>
    </head>
    <body></br>
		  <div class="border">
                <h2 class="word">Post: Message</h2>
				<span><span id="clock"></span></span>
				<p style="text-align:justify;">
                    <script>
                function updateClock() {
                    var clock = document.getElementById("clock");
                    var date = new Date();
                    clock.innerHTML = date.toLocaleTimeString();
                }
                setInterval(updateClock, 1000);
                </script>
                Page Not Found <br>
				Requested Id: Id
                </br></br>
				</p>
                <a href="/" class="btn">Home</a> | <a href="/" class="btn">Back</a><br><br>
          </div>

    </body>
</html>