<html>
    <head>
        <meta charset="UTF-8">
        <title> View Post </title>
    </head>
    <body></br>
		  <div class="border">
                <h2 class="word">Post: Message</h2>
				<span><span id="idclock"></span></span>
				<p style="text-align:justify;">
                Page Not Found <br>
				Requested Id: Id
                </br></br>
				</p>
                <a href="/youranswer" class="btn">Home</a> | <a href="/youranswer" class="btn">Back</a><br><br>
          </div>

    </body>
</html>

